body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
    color: #434455;
}

/*    Header    */
.header{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.headercontainer{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav_header{
    display: flex;
    align-items: center;
}
.spanclass{
    color: #2e2f42;
}
.headerlogo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.headerlist{
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
    position: relative;
}
.list_adress{
    display: flex;
    gap: 40px;
}
.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
::after{
    color: #404bbf;
    content: '';
    position: absolute;
    left: 0; 
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio:hover{
    color: #404bbf;
}
.studio:focus{
    color: #404bbf;
}
.headeraddress{
    font-style: normal;
    display: flex;
    gap: 40px;
}
.headeraddress:hover,
.headeraddress:focus{
    color: #404bbf;
}
.headeraddress{
    display: flex;
    gap: 40px;
}
.one{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.one:hover,
.one:focus{
    color: #404bbf;
}

/*    First section    */


.section-first{
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/img-name.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-first-header{
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.section-first-btn{ 
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.section-first-btn{
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-first-btn:hover{
    background-color: #404BBF;
}
.section-first-btn:focus{
    background-color: #404BBF;
}


/*    Second section    */


.sectionb{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    padding: 120px 0;
}
.sectionb_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.list_container{
    margin: 0; 
    padding-left: 0;
    display: flex;
    gap: 24px;
}
.sectionb-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
}
.sectionb-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.sectionb-list{
    padding-left: 0;
    width: calc((100% - 3 * 24px) / 4);
}



/*    Third section    */


.sectionc{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.same_container{
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}
.sectionc-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.container{
    padding: 32px 0;
}
.team-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon{
    width: 40px;
    height: 40px;
}
.sending{
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sending:hover{
    background-color: #404BBF;
}
.sending:focus{
    background-color: #404BBF;
}
.img_foto{
    display: block;
}
.sectionc-background{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.sectionc-ppp{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.sectionc-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


/*    Forth section    */


.sectiond{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding-top: 120px;
    padding-bottom: 120px;
}
.sectiond-header{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.list_sectiond_container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
}
.img_foto{
    display: block;
}
.sectiond-p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.sectiond-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
}
.sectiond-main{
    color: #F4F4FD;
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sectiond-text:hover{
    transform: translateY(0%);
}
.container_same{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}
.hhh{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*    Footer    */


.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.container{
    display: flex;
    align-items: baseline;
}
.containera{
    margin-right: 120px;
}
.social_media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.team-icon{
    display: flex;
    gap: 16px;
}
.svgicon{
    width: 40px;
    height: 40px;
}
.daa{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.daa:hover{
    background-color: #31d0aa;
}
.daa:focus{
    background-color: #31d0aa;
}
.team-icon-svg{
    fill: #f4f4fd;
}
.footer_text{
    max-width: 264px;
}
.footer_logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.span-class{
    color: #f4f4fd;
}
.footer_text{
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}